body {
  /* padding: 0; */
  /* margin-top: 0;
  margin-left: 0; */
  /* margin-right: 0; */

  margin: auto;
  padding-top: 65px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: sans-serif;
}
